@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Barlow', sans-serif;
}

h1:hover, p:hover {
    cursor: default;
}

a {
    transition: .5s;
}

/* Utilities */
/* Classes given one single purpose, a-la Tailwind's "utility-first" CSS */

.transform-3 {
  transform: translateY(3rem);
}

.transform-5 {
  transform: translateY(5rem);
}

.transform-7 {
  transform: translateY(7rem);
}

.grayscale {
  filter: grayscale(1);
}

.m-auto {
  margin: 0 auto;
}

.shadow-white {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px -1px #cfcfcf;
}

.hero-font {
  font-size: 6rem;
}

.margin-0-auto {
  margin: 0 auto;
}

/* Components */
/* Classes specific to components in this project */

.sidebar-container {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

.navigation-link {
  color: #ffffff;
  transition: .5s;
  font-family: 'Barlow', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.5rem;
}

.navigation--home {
  opacity: 0;
  animation: fadeInSVG 2s 1;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.webp .background {
  background-image: url('/static/img/webp/background.webp');
}

.no-webp .background {
  background-image: url('/static/img/jpg/background.jpg');
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.webp .background-dots {
  background-image: url('/static/img/webp/background-dots-big.webp');
}

.no-webp .background-dots {
  background-image: url('/static/img/jpg/background-dots-big.jpg');
}

.background-dots {
  background-size: inherit;
  background-repeat: repeat;
  background-position: 5rem;
  width: 100%;
}

/* Used for the 3 column icons offset positions */
.move-up {
  transform: translateY(-50px);
}

/* Jagged lines background */
.webp .lines-background {
  background-image: url('/static/img/webp/line-background.webp');
}

.no-webp .lines-background {
  background-image: url('/static/img/jpg/line-background.jpg');
}

/* Horizontal bar that's tilted */
.horizontal-bar {
  position: relative;
  height: 80px;
  width: 100%;
  left: 0;
  transform: skewY(-10deg);
  transform-origin: 50%!important;
}

/* Modal Styling */
.modal-overlay {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form input, .form label {
  display: block;
  margin: 0 auto;
}

.form input, .form textarea {
  background-color: #3e4750;
  border: 2px solid #ffffff;
  padding: 8px 12px;
  font-family: 'Barlow', sans-serif;
}

/* ImageTextSplit Styles and Animations */
.image-text-split__image {
  transform: translateX(-30px);
  transition: .75s;
  opacity: 0;
}

.image-text-split__image--animate {
  transform: translateX(0);
  margin-left: 0;
  opacity: 1;
}

.image-text-split__text-container {
  transform: translateY(45px);
  transition: .85s;
  opacity: 0;
}

.image-text-split__text-container--animate {
  transform: translateY(0);
  margin-left: 0;
  opacity: 1;
}

.two-text-split__left {
  transition: .85s;
  opacity: 0;
}

.two-text-split__left--animate {
  opacity: 1;
}

.two-text-split__right {
  transition: .85s;
  opacity: 0;
}

.two-text-split__right--animate {
  opacity: 1;
}
/* Animate the logo */
/* Circle */
.cls-1 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  fill: #fff;
}

.cls-1--animate {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: #fff;
  animation: dashCircle 7s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.cls-2 {
  stroke-dasharray: 109.766;
  stroke-dashoffset: 0;
  fill: #fff;
}

.cls-3, .cls-4{
  stroke-dasharray: 117.38;
  stroke-dashoffset: 0;
  fill: #fff;
}

.cls-2--animate {
  stroke-dasharray: 109.766;
  animation: dashSignature 2s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.cls-3--animate, .cls-4--animate {
  stroke-dasharray: 117.38;
  animation: dashSignature 2s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

svg.logo {
  border-radius: 50%;
  opacity: 1;
  transition: all .25s ease-in-out;
}

svg.logo-animate {
  border-radius: 50%;
  opacity: 0;
  animation: fadeInSVG 2s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transition: all .25s ease-in-out;
}

svg.logo:hover, svg.logo-animate:hover {
  box-shadow: 0px 1px 38px #9a9a9a;
  cursor: pointer;
}

@keyframes fadeInSVG {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dashSignature {
  from {
    stroke-dashoffset: 118;
    fill: #000;
  }
  to {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}

@keyframes dashCircle {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Media Queries */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 35px;
  }

  p {
      font-size: 24px;
  }

  svg {
    left: 55px;
    top: 60px;
  }

  .three-column-icons__icon, .three-column-icons__icon img, .three-column-icons__icon h3 {
    transition: .25s;
  }
  
  .three-column-icons__icon:hover  {
    cursor: pointer;
  }
  
  .three-column-icons__container:nth-of-type(1):hover > div.three-column-icons__icon { 
    background-color: #2E464D;
  }
  
  .three-column-icons__container:nth-of-type(2):hover > div.three-column-icons__icon { 
    background-color: #2E285B;
  }
  
  .three-column-icons__container:nth-of-type(3):hover > div.three-column-icons__icon { 
    background-color: #4E234F;
  }
  
  .three-column-icons__icon:hover > img {
    opacity: .5;
  }
  
  .three-column-icons__icon:hover h3 {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
  }

  p {
    font-size: 24px;
  }

  svg {
    left: 35vw;
    width: 100px;
    top: 20px;
  }

  .navigation {
    top: 7vh;
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .navigation-link {
    font-size: 1rem;
  }

  .header__content {
    top: 10px
  }

  .move-up {
    transform: translateY(0);
  }

  .background {
    height: 24rem;
  }

  .hero-font {
    font-size: 3rem;
  }

  /* Extra modal styling for mobile */
  .modal__overlay {
    position: relative;
    width: 100%;
  }
}