@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    margin: 0;
}

h1:hover, p:hover {
    cursor: default;
}

a {
    transition: .5s;
}

svg {
    animation: fadeInSVG 2s linear;
    animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
    box-shadow: 3px 2px 8px #4d4e53;
    border-radius: 50%;
    opacity: 0;
}

@keyframes fadeInSVG {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}

.background {
    background-image: url('/static/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
}

/* Used for the 3 column icons offset positions */
.move-up {
  transform: translateY(-50px);
}

/* Jagged lines background */
.lines-background {
  background-image: url('/static/line-background.png');
}

/* Horizontal bar that's tilted */
.horizontal-bar {
  position: relative;
  height: 80px;
  width: 100%;
  left: -15px;
  transform: rotate(-10deg);
}

.grayscale {
  filter: grayscale(1);
}

.m-auto {
  margin: 0 auto;
}

/* Animate the logo */
/* Circle */
.cls-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dashCircle 7s linear;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

.cls-2 {
    stroke-dasharray: 109.766;
    stroke-dashoffset: 109.766;
}

.cls-3, .cls-4{
    stroke-dasharray: 117.38;
    stroke-dashoffset: 117.38;
}

.cls-2, .cls-3, .cls-4 {
    animation: dashSignature 2s linear;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes dashSignature {
    from {
        stroke-dashoffset: 118;
        fill: #000;
      }
      to {
        stroke-dashoffset: 0;
        fill: #fff;
      }
}

@keyframes dashCircle {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
}

/* From Blobs tutorial: https://codesandbox.io/embed/8zx4ppk01l */
.hooks-main > svg {
  display: none;
}

.hooks-main > div {
  position: absolute;
  will-change: transform;
  border-radius: 0;
  background: #a64eba;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  opacity: 0.4;
}

/* Small */
.hooks-main > div:nth-child(1) {
  width: 80px;
  height: 80px;
}

/* Large */
.hooks-main > div:nth-child(2) {
  width: 175px;
  height: 175px;
}

/* Medium */
.hooks-main > div:nth-child(3) {
  width: 125px;
  height: 125px;
}

.hooks-main > div::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.8);
}

.hooks-main > div:nth-child(2)::after {
  top: 70px;
  left: 70px;
  width: 70px;
  height: 70px;
}

.hooks-main > div:nth-child(3)::after {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
}

.hooks-main {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: url('#goo');
  overflow: hidden;
  top: 0;
}

.margin-0-auto {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }

  p {
      font-size: 32px;
  }

  svg {
    left: 55px;
    top: 60px;
  }

  .navigation {
      margin-bottom: 27vh;
  }
}

@media screen and (max-width: 767px) {
  h1 {
      font-size: 50px;
  }

  p {
      font-size: 24px;
  }

  svg {
    left: 35vw;
    width: 100px;
    top: 20px;
  }

  .background { 
    height: 170vh;
  }

  .navigation {
    top: 7vh;
    margin: 0 auto;
    text-align: center;
    float: none;
  }

  .header__content {
    top: 70px
  }
}